apiVersion: v1
kind: Service
metadata:
  name: {{ include "openoms.fullname" . }}-api
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "openoms.labels" . | nindent 4 }}
    {{- include "openoms.apiServer.selectorLabels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "openoms.apiServer.selectorLabels" . | nindent 4 }}
